<div>
  <h1>Test</h1>

  <form [formGroup]="timeForm">
      <mat-form-field class="d-block">
        <mat-select [formControlName]="from">
          <mat-option *ngFor="let hour1 of hoursList" [value]="hour1">
            {{hour1}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="d-block">
        <mat-select [formControlName]="to">
          <mat-option *ngFor="let hour2 of hoursList" [value]="hour2">
            {{hour2}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    <button mat-raised-button (click)="submit()">Click me!</button>
  </form>

</div>
